/*
 * cwTeXKai (Chinese Traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'cwTeXKai';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.ttf) format('truetype');
}
/*http://www.google.com/fonts/earlyaccess/fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot*/

*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
/*	position: relative;*/
}
.example{
	display: block;
	border-radius: 5px;
	margin: 10px 0px;
	padding: 5px 20px;
	background-color: var(--kbd-bg-color);
	-webkit-box-shadow: 0 0 5px #bbb;
	        box-shadow: 0 0 5px #bbb;
	overflow: hidden;

	text-decoration: none;
	z-index: 1;
	-webkit-transform: translate(0,0);
	    -ms-transform: translate(0,0);
	        transform: translate(0,0);

	-webkit-transition-duration:0.3s;

	     -o-transition-duration:0.3s;

	        transition-duration:0.3s;

}
.example:hover{
	-webkit-transform: translate(0px,-5px);
	    -ms-transform: translate(0px,-5px);
	        transform: translate(0px,-5px);
	border: 0;
/*	color: black;*/
}

.example:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: var(--pre-bg-color);
	-webkit-clip-path: circle(0%);
	        clip-path: circle(0%);
	z-index: -1;

	-webkit-transition-duration: 0.3s;

	     -o-transition-duration: 0.3s;

	        transition-duration: 0.3s;
}
.example:hover:before{
	-webkit-clip-path: circle(100%);
	        clip-path: circle(100%);
}

.example:active{
	-webkit-transform: translate(0px,0px);
	    -ms-transform: translate(0px,0px);
	        transform: translate(0px,0px);
}

a:focus{
	display: none;
}
/* ---------------------------------------- */
.img-container{
	display: block;
	text-align: center;
}

.img{
	display: inline-block;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	margin: 10px;
	padding: 20px;
	position: relative;
}
.img.demo{
	background-color: #fff;
}

.img.demo:after{
	content: 'open source';
	color: #fff;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	display: block;
	right: 2px;
	bottom: 5px;
	width: 0;
	height: 30px;
	vertical-align: ceter;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.img.demo:hover:after{
/*	padding: 0px 2px 4px 2px;*/
	width: 120px;
}

.demo+p{
	display: block;
	text-align: center;
	font-size: 8pt;
}

.demo{
}


/* ---------------------------------------- */
body {
/*  font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times,'標楷體',DFKai-sb,BiauKai,'AR PL UKai TW', serif;*/
  font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times,'標楷體','cwTeXKai', serif;
}
code,pre,kbd {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New';
}

/* ---------------------------------------- */

#topbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
/*	height: 50px;*/
	z-index: 100;
}
#topbar #btn-container{
	position: absolute;
	right: 0;
	padding: 30px;
}


.btn {
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition-duration: 0.3s;
  padding: 10px;
  cursor: pointer;
	box-shadow: 0 0 5px #bbb inset,
							0 0 5px #aaa;
}

.btn:hover {
	box-shadow: 0 0 3px #333 inset,
							0 0 10px #aaa;
}

.btn:focus {
  outline: none;
}

.btn:active {
	box-shadow: 0 0 3px #333 inset,
							0 0 2px #ccc;
}

.moon{
	background-color: #ddd;
}
.sun{
	background-color: #aaa;
}
.moon:before{
	content: url('./moon.svg');
	display: block;
	width: 30px;
	height: 30px;
}
.sun:before{
	content: url('./sun.svg');
	display: block;
	width: 30px;
	height: 30px;
}
/* ---------------------------------- */
canvas{
/*	width: 600px;*/
/*	height: 400px;*/
	border: 1px solid #ccc;
	border-radius: 10px;
}






